
    
    <% if(blogs.length){%>
        <% blogs.forEach(blogs=>{  %>
            <div class="bg-card">
                <h1> <a href="/blogs/<%= blogs._id %>"><%= blogs.title %></a></h1>
                <p><%= blogs.intro%></p>
                <form action="/blogs/<%=blogs._id%>/delete" method="post">
                    <button class="blog-delete-button" type="submit">delete</button>
                </form>
            </div>
    
        <% }) %>
        <% }else{ %>
            <h3>No blogs found</h3>
       <% } %>
   >